html{
box-sizing:border-box;
}

body{
background:linear-gradient(45deg,#BBA6C7,skyblue);
background-repeat:repeat-x;
background-attachment:fixed;
background-size:cover;
max-height:100vw;
max-width:100vw;
box-sizing:border-box;
margin:0px;
padding:0px;

}

header{
font-family:sans-serifs black;
font-style:oblique;
color:white;
padding:0px;
margin:0px;
border:2px solid black;

}

footer{
font-family:sans-serifs black;
font-style:oblique;
color:white;
padding:0px;
margin:0px;
border:2px solid black;
max-width:100%;
max-height:100%;
}

.background1{
background-color:steelblue;
margin:0px;
padding:0px;
max-width:100%;
max-height:100%;
}

.background2{
background-color:white;
opacity:75%;
border: 1px dashed black;
}

h2{
font-family:sans-serifs black;
margin:0px;
padding:0px;
}

.paragraphS{
box-sizing:border-box;
background:grey;
margin-left:25vw;
margin-right:25vw;
padding:5px;
}

.paragraphM{
box-sizing:border-box;
background:linear-gradient(to right,steelblue,white);
font-size:1.5vw;
font-weight:bold;
margin-left:25px;
margin-right:15vw;
padding:5px;
}


hr{

margin:0px;
padding:0;
height:10px;
border-color:black;
border-collapse:separate;
}

nav{
margin-top:0px;
margin:0px;
padding:0px;
max-width:100%;
max-height:100%;
background:grey 10%;

}

nav ul{
display:flex;
flex-wrap:wrap;
list-style:none;
margin:0px;
padding:0px;
justify-content:space-evenly;

}

nav ul li{
margin:10px;

}

nav ul li a{
background-color:silver;
display:block;
padding:0px;
border-radius:15%;
text-decoration:none;
align-items:center;
}

nav ul li a:hover{
background-color:powderblue;
}

main{
max-width:100vw;
max-height:100vw;
}

.content{
font:36px Times New Romans;
}

.ct{
background:linear-gradient(to top,white,grey);
padding:15px;
padding-bottom:30px;
margin:0px;
max-width:100%;
max-height:100%;
text-align:center;

}

.ct-frame{
padding:0px;
width:70vw;
height:40vw;
border:none;
}

table{
border:5px solid black;
background:linear-gradient(to top,white,grey);
text-align:center;
cellpadding:10px;
margin:50px
display:block;
overflow-x:auto;
max-height:100%;
max-width:100%;
border-collapse:collapse;
}

td,th{
padding:1em	;
border:5px groove black;
}

/*max-width:768px*/
@media (max-width:768px){
	body{
	font-size:17px;
	}
	nav{
	text-align:center;
	}

	nav ul{
	flex-direction:column;
	margin:0px;
	padding:5px;
	text-align:center;
	}

	nav ul li{
	margin:0.5vw;
	padding:0.5vw;
	max-width:100%;
	
	}
	
	nav ul li a{
	display:block;
	border-radius:15px;
	text-decoration:none;
	align-items:center;
	margin:0px;
	padding:1vw;
	}
	
	
}

/*min-width:769-LAPTOP-max-width:1366px*/
@media (min-width:769px) and (max-width:1366px){
	nav{
	font-size:20px;
	position:sticky;
	top:0;
	}

	nav ul{
	flex-direction:flex;
	max-width:100%;
	min-height:50%;
	margin-left:20px;
	margin-right:20px;
	
	}

	nav ul li{
	margin:10px;
	
	}
	
	nav ul li a{
	display:block;
	border-radius:15px;
	text-decoration:none;
	align-items:center;
	margin:-5px;
	padding:10px;
	border-color:black;
	}
	header,footer{
	text-align:center;
	}
}

/*min-width:1367px-DESKTOP*/
@media (min-width:1367px)and (max-width:5120px){
	body{
	font-size:33px;
	}

	footer{
	padding:15px;
	max-width:100%;
	max-height:100%;
	}

	nav{
	font-size:35px;
	position:sticky;
	top:0;
	}
	nav ul{
	flex-direction:flex;
	max-width:100%;
	min-height:100%;
	margin-left:5px;
	margin-right:5px;
	padding:1px;
	}

	nav ul li{
	margin:10px;
	
	}
	
	nav ul li a{
	display:block;
	border-radius:15px;
	text-decoration:none;
	align-items:center;
	margin:-5px;
	padding:10px;
	border-color:black;
	}
	header,footer{
	text-align:center;
	font-size:30px;
	}
