html{
box-sizing:border-box;
}

body{
background:linear-gradient(45deg,#BBA6C7,skyblue);
background-repeat:repeat-x;
background-attachment:fixed;
background-size:cover;
max-height:100%;
max-width:100%;
background-size:border-box;
margin:0px;
padding:0px;
}

header{
font-family:sans-serifs black;
font-style:oblique;
color:black;
padding:0px;
margin:0px;
border:2px solid black;

}

footer{
font-family:sans-serifs black;
font-style:oblique;
color:black;
padding:0px;
margin:-10px;
border:2px solid black;
max-width:100%;
max-height:100%;
}

.background1{
background-color:cyan;
background-opacity:50%;
margin:0px;
padding:0px;
max-width:100%;
max-height:100%;
}

.background2{
background-color:white;
background-opacity:55%;
border: 1px dashed black;
}

h2{
font-family:sans-serifs black;
margin:0px;
padding:0px;
}

hr{
background:red;
margin:-15px;
padding:0;
height:10px;
border-color:black;
border-collapse:separate;
}

nav{
margin-top:15px;
margin:0px;
padding:0px;
max-width:100%;
max-height:100%;
background:red;
box-sizing:border-box;
}

nav ul{
display:flex;
flex-wrap:wrap;
list-style:none;
margin:0px;
padding:0px;
justify-content:space-evenly;

}

nav ul li{
margin:10px;

}

nav ul li a{
background-color:#E7C84C;
display:block;
padding:0px;
border-radius:25%;
text-decoration:none;
align-items:center;
}

nav ul li a:hover{
background-color:gold;
}

main{
max-width:100vw;
}


.ct{
background-color:grey;
padding:10px;
margin:0px;
max-width:100%;
max-height:100%;
text-align:center;

}

.ct-frame{
padding:10px;
width:70%;
height:70%;
border:none;
border-shadow:
overflow:hidden;
}

/*max-width:768px*/
@media    (max-width:768px){
	

	nav{
	font-size:12px;
	
	}

	nav ul{
	flex-direction:column;
	margin:20px;
	padding:10px;
	text-align:center;
	}

	nav ul li{
	margin:5px;
	
	}
	
	nav ul li a{
	background-color:#E7C84C;
	display:block;
	border-radius:25%;
	text-decoration:none;
	align-items:center;
	margin:-5px;
	padding:10px;
	}
	
	
}

/*min-width:769-LAPTOP-max-width:1366px*/
@media (min-width:769px) and (max-width:1366px){
	nav{
	font-size:20px;
	position:sticky;
	top:0;
	}

	nav ul{
	flex-direction:flex;
	max-width:100%;
	min-height:50%;
	margin-left:20px;
	margin-right:20px;
	
	}

	nav ul li{
	margin:10px;
	
	}
	
	nav ul li a{
	background-color:#E7C84C;
	display:block;
	border-radius:25%;
	text-decoration:none;
	align-items:center;
	margin:-5px;
	padding:10px;
	border-color:black;
	}
	header,footer{
	text-align:center;
	}
}

/*min-width:1367px-DESKTOP*/
@media (min-width:1367px)and (max-width:5120px){
	body{
	font-size:33px;
	}

	footer{
	padding:15px;
	max-width:100%;
	max-height:100%;
	}

	nav{
	font-size:35px;
	position:sticky;
	top:0;
	}
	nav ul{
	flex-direction:flex;
	max-width:100%;
	min-height:100%;
	margin-left:5px;
	margin-right:5px;
	padding:1px;
	}

	nav ul li{
	margin:10px;
	
	}
	
	nav ul li a{
	background-color:#E7C84C;
	display:block;
	border-radius:50%;
	text-decoration:none;
	align-items:center;
	margin:-5px;
	padding:10px;
	border-color:black;
	}
	header,footer{
	text-align:center;
	font-size:30px;
	}

}

