html{
box-sizing:border-box;
}

body{
background:linear-gradient(45deg,#BBA6C7,skyblue);
background-repeat:repeat-x;
background-attachment:fixed;
background-size:cover;
max-height:100%;
max-width:100%;
box-sizing:border-box;
margin:0px;
padding:0px;
height:100vh;
}

header{
font-family:sans-serifs black;
font-style:oblique;
color:white;
padding:0px;
margin:0px;
border:2px solid black;

}

footer{
font-family:sans-serifs;
font-style:oblique;
color:white;
padding:0px;
margin:0px;
border:2px solid black;
max-width:100%;
max-height:100%;

}

.background1{
background-color:steelblue;
margin:0px;
padding:0px;
max-width:100%;
max-height:100%;
}

.background2{
background-color:white;
opacity:100%;

}

.contentBoxforall{
box-sizing:border-box;
background:white;
box-shadow:0px 4px 8px black;
}

.contentBoxforallblue{
box-sizing:border-box;
background:steelblue;
box-shadow:0px 4px 8px black;

}


h2{
font-family:sans-serifs black;
margin:0px;
padding:0px;
}


.paragraphFooter{
text-align:center;
box-sizing:border-box;
background:silver;
margin-left:25vw;
margin-right:25vw;
padding:5px;
width:55%;
box-shadow:2px 2px 2px black;
}

.paragraphforall{
background:lightgrey;
opacity:95%;
font-size:1.8vw;
font-family:Times New Romans;
}

.paragraphforallwhite{
background:white;
opacity:95%;
font-size:1.8vw;
font-family:Times New Romans;
}

.paragraphforallblue{
color:white;
opacity:95%;
font-size:1.8vw;
font-family:Times New Romans;
}

.margin0{
margin:0;
}

.padding0{
padding:0px;
}


nav{
margin-top:0px;
margin:0px;
padding:0px;
max-width:100%;
max-height:100%;
background:grey 10%;

}

nav ul{
display:flex;
flex-wrap:wrap;
list-style:none;
margin:0px;
padding:0px;
justify-content:space-evenly;

}

nav ul li{
margin:10px;

}

nav ul li a{
background-color:silver;
display:block;
padding:0px;
border-radius:15%;
text-decoration:none;
align-items:center;
}

nav ul li a:hover{
background-color:powderblue;
}

main{
max-width:100vw;
overflow-x:hidden;
flex:1;
}

.content{
text-align:center;
max-width:100vw;
margin:0vw;
font:36px Times New Romans;
}

.ct{
background:linear-gradient(to top,white,grey);
padding:15px;
padding-bottom:30px;
margin:0px;
max-width:100%;
max-height:100%;
text-align:center;
overflow-x:hidden;
}

p.ctbox{
display:grid;
justify-content:center center;
overflow-x:auto;
}

.ctbox{
margin:2.6vw;
box-sizing:content-box;
display:grid;
justify-content:center center;
box-shadow:3px 3px 3px 3px black;
padding:15px;
width:90vw;
height:40vw;
border:none;
}


select{
text-align:center;
border:5px;
display:grid;
justify-content:center top;
padding:5px;
border-radius:15px;
box-shadow:2px 2px 2px black;
}

select:{
background-color:gold;
}

img{
display:block;
border:4px solid black;
width:auto;
height:auto;
}

#contentInside{
display: block;           
width: 100%;              
height: auto;             
padding: 20px;            
margin:0px;
border: 1px solid black;   
box-shadow: 0 0 10px black;
}


#contentInside img{
width:40vw;
height:30vw;
background-position:center;
}

#contentInside p,h2{
background:linear-gradient(to left,steelblue,white);
font-size:2vw;
font-family:Times New Romans;
}

p ul,ol,dl{
font-size:2vw;
text-shadow:3px 3px 4px black;
}

.flexcontainer{
padding:15px;
display:flex;
flex-wrap:wrap;
gap:50px;
justify-content:space-evenly;
flex-direction:row;
}

.threecol{
padding:10px;
justify-content:space-evenly;
box-sizing:border-box;
box-shadow:-2px 3px 5px black;
max-width:300px;
}

/*max-width:768px*/
@media (max-width:768px){
	body{
	font-size:12px;
	}
	nav{
	text-align:center;
	}

	nav ul{
	flex-direction:column;
	margin:0px;
	padding:5px;
	text-align:center;
	}

	nav ul li{
	margin:0.5vw;
	padding:0.5vw;
	max-width:100%;
	
	}
	
	nav ul li a{
	display:block;
	border-radius:15px;
	text-decoration:none;
	align-items:center;
	margin:0px;
	padding:1vw;
	}
	
	
}

/*min-width:769-LAPTOP-max-width:1366px*/
@media (min-width:769px) and (max-width:1366px){
	nav{
	font-size:18px;
	position:sticky;
	top:0;
	z-index:1;
	}

	nav ul{
	flex-direction:flex;
	max-width:100%;
	min-height:50%;
	margin-left:20px;
	margin-right:20px;
	
	}

	nav ul li{
	margin:10px;
	
	}
	
	nav ul li a{
	display:block;
	border-radius:15px;
	text-decoration:none;
	align-items:center;
	margin:-5px;
	padding:10px;
	border-color:black;
	}
	header,footer{
	text-align:center;
	}
}

/*min-width:1367px-DESKTOP*/
@media (min-width:1367px)and (max-width:5120px){
	body{

	}

	footer{
	padding:15px;
	max-width:100%;
	max-height:100%;
	}

	nav{
	font-size:25px;
	position:sticky;
	top:0;
	z-index:1;
	}
	nav ul{
	flex-direction:flex;
	max-width:100%;
	min-height:100%;
	margin-left:5px;
	margin-right:5px;
	padding:10px;
	}

	nav ul li{
	margin:10px;
	
	}
	
	nav ul li a{
	display:block;
	border-radius:15px;
	text-decoration:none;
	align-items:center;
	margin:-5px;
	padding:10px;
	border-color:black;
	}
	header,footer{
	text-align:center;
	font-size:30px;
	}
